{% extends 'backend/base.html' %}

{% block content %}
  <div class="flex justify-center min-h-screen">
    <div class="mt-20">
      <h1 class="mb-6 text-3xl">{{ task.name }}</h1>

      <p><strong class='font-bold'>Statut :</strong> {% if task.is_done %}Terminé{% else %}A faire{% endif %}</p>

      {% if task.description %}
        <p class="mb-6">{{ task.description }}</p>
      {% endif %}

      {% if not task.is_done %}
        <a href="?is_done=yes" class="py-4 px-8 bg-teal-600 text-white inline-block">TERMINER</a>
      {% endif %}
      <a href="{% url 'tache:edit' task.project_id task.todolist_id task.id %}" class="py-4 px-8 bg-cyan-600 text-white inline-block">Editer</a>
      <a href="{% url 'tache:delete' task.project_id task.todolist_id task.id %}" class="py-4 px-8 bg-rose-600 text-white inline-block">Supprimer</a>
      <div class="mt-6">
        <div class="flex justify-center">
          <a href="{{ previous_url|default:'/' }}"><i class='mr-2 bx bxs-left-arrow text-6xl text-neutral-400'></i></a>
          <p class="text-2xl mt-3 mr-10">RETOUR</p>
        </div>
        
      </div>
    </div> 
  </div>
{% endblock %}