{% extends 'backend/base.html' %}

{% block content %}
    <h1 class="mb-6 text-1xl">ATTACHE AU PROJET : {{ project.name }}</h1>
    <h1 class="mb-6 text-4xl">{{ todolist.name }}</h1>

    {% if todolist.description %}
      <p class="mb-6">{{ todolist.description }}</p>
    {% endif %}

    <h1 class="mb-6 mt-6 text-4xl">LISTE DES TACHES</h1>

    <a href="{% url 'tache:add' project.id todolist.id %}" class="py-4 px-8 bg-teal-600 text-white inline-block">AJOUTER</a>
    <a href="{% url 'todolist:edit' project.id todolist.id %}" class="py-4 px-8 bg-cyan-600 text-white inline-block">EDITER</a>
    <a href="{% url 'todolist:delete' project.id todolist.id%}" class="py-4 px-8 bg-rose-600 text-white inline-block">SUPPRIMER</a>

    <div class="mt-6 grid grid-cols-4 gap-4">
        {% for task in todolist.tasks.all %}
            <div class=" relative py-6 px-6 bg-slate-200">
                <a href="{% url 'tache:detail' todolist.project.id todolist.id task.id %}">
                    <h2 class="mb-4 text-xl">{{ task.name }}</h2>

                    <p class="text-sm text-slate-600">
                        {{ task.description }}
                    </p>
                </a>
                <div class="absolute top-2 right-2 items-center gap-2">
                    <!-- Icône conditionnelle pour l'état de la tâche -->
                    {% if task.is_done %}
                        <i class="bx bxs-check-circle text-teal-500 text-2xl" title="Tâche terminée"></i>
                        <i class=''></i>
                    {% else %}
                        <i class="bx bxs-x-circle text-rose-500 text-2xl" title="Tâche non terminée"></i>
                        
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}