{% extends 'backend/base.html' %}

{% block content %}
  <h1 class="text-3xl">About</h1>

  <div class="mt-6 space-y-6">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
      dolores voluptatibus quas ipsum perspiciatis libero ut ab quae
      architecto eius aliquam quibusdam consectetur ullam soluta voluptates,
      nam sint magni voluptatem!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
      dolores voluptatibus quas ipsum perspiciatis libero ut ab quae
      architecto eius aliquam quibusdam consectetur ullam soluta voluptates,
      nam sint magni voluptatem!
    </p>
  </div>
{% endblock content %}