<!-- {% load static %} -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <nav class="py-4 px-8 flex items-center justify-between p-2 bg-slate-700">
      <h1 class="text-xl text-white"><a href='{% url "backend:index" %}'>PROJECT MANAGEMENT</a></h1>

      <div class="flex items-center space-x-4">
        
        {% if request.user.is_authenticated %}
        <a href="{% url 'projet:projets' %}" class="rounded-lg hover:bg-cyan-700 py-2 px-4 bg-cyan-600 text-white">Projets</a>
        <a href="{% url 'gestion_client:customers' %}" class="rounded-lg hover:bg-rose-700 py-2 px-4 bg-rose-600 text-white">Clients</a>
        {% else %}
          <a href="{% url 'account:login' %}" class="py-2 px-4 bg-slate-600 hover:bg-slate-800 text-white rounded-lg">Log in</a>
          <a href="{% url 'account:signup' %}" class="py-2 px-4 bg-cyan-600 hover:bg-cyan-800 text-white rounded-lg">Sign up</a>        
        {% endif %}
        <a href='{% url "backend:index" %}' class="text-white"><i class='bx bx-home hover:text-neutral-400 text-3xl'></i></a>
        <a href="{% url 'backend:about' %}" class="text-white"><i class='bx bxs-user-voice hover:text-neutral-400 text-3xl'></i></a>

        {% if user.is_authenticated %}
          <form method="post" action="{% url 'backend:logout' %}">
            {% csrf_token %}
            <button type="submit" class='bx bx-log-out text-white hover:text-neutral-400 text-3xl'></button>
          </form>
          
        {% endif %}

        <a href="{% url 'admin:index' %}"><i class='bx bxs-cog text-white hover:text-neutral-400 text-2xl'></i></a>


      </div>
    </nav>
  
    <main class="min-h-[880px] py-10 px-10">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="w-full bottom-1 flex justify-center items-center gap-4 bg-slate-900">
      <p class="text-white">Copyright (c) 2024 - cedric LE TUTOUR</p>
      <div class="flex justify-center items-center gap-4 mb-4"> 
        <a href="https://www.linkedin.com/in/cedric-le-tutour" target="_blank" class="text-white flex hover:text-cyan-500 inline-block mt-4" aria-label="LinkedIn"><i class="bx bxl-linkedin text-3xl"></i></a>
    
        <a href="https://github.com/CedricLt44" target="_blank" class="text-white hover:text-cyan-500 inline-block mt-4" aria-label="GitHub"><i class='bx bxl-github text-3xl'></i></a>
      </div>  
    </footer>
  </body>
</html>
