{% extends 'backend/base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center mb-6 text-6xl">{{ customer.name }}</h1>
    <div class="mt-6 grid grid-cols-6 gap-6">
        <div><img class="object-fill h-auto " src="{% static 'img/hosteal.png' %}"></div>
        <div class="customer-details text-xl">
            <p><strong>Contact:</strong> {{ customer.contact_name }}</p>
            <div class="flex space-x-2 inline-block mt-4">
                <i class='bx bx-at text-2xl' ></i>
                <p><strong> :</strong> {{ customer.email }}</p>
            </div>        
            <div class="flex space-x-3 inline-block mt-4">
                <i class='bx bxs-phone-call text-2xl'></i>
                <p><strong> : </i></strong> {{ customer.phone }}</p>
            </div>
            <div class="mt-4">
                <p><strong>Adresse:</strong> </p>
                <p>{{ customer.address }}</p> 
            </div>
            <p> {{ customer.city }}</p>
            <p>{{ customer.zip_code }}</p>
        </div>
    </div>

    <h1 class="mt-4 text-3xl">Projets</h1>

    <div class="mt-6 grid grid-cols-8 gap-4">
        {% if projects %}
            <div class="projects-list rounded-lg shadow-lg space-y-3 py-6 px-4 bg-amber-100">
                {% for project in projects %}
                    <div class="project-card">
                        <h3>Nom du Projet :</h3><p>{{ project.name }}</p>
                        <h3>Description :</h3><p>{{ project.description }}</p>
                        <p class="text-muted">Créé le {{ project.created_at|date:"d/m/Y" }}</p>
                        <div class="project-actions">
                            <a href="{% url 'projet:projet' project.pk %}" class="btn btn-info"><i class='bx bxs-file-find mt-4 text-5xl hover:text-amber-800 text-amber-600'></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun projet pour ce client.</p>
        {% endif %}
    </div>
</div>

{% endblock %}